body {
  background: rgba(21, 41, 56, 1);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .main-app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 654px;
    height: 559px;
    top: 128px;
    gap: 0px;
    opacity: 0px;
    background: rgba(252, 252, 252, 1);
    border-radius: 20px;

    .Select-Theme {
      width: 542px;
      height: 93px;
      top: 184px;
      left: 56px;
      gap: 0px;
      opacity: 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    button {
      background: rgba(188, 206, 217, 1);
      color: rgba(252, 252, 252, 1);
      font-size: 26px;
      font-weight: 700;
      line-height: 32.24px;
      text-align: center;
      transition: 0.3s ease-in-out;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      width: 256px;
      height: 52px;
      top: 41px;
      gap: 0px;
      opacity: 0px;
    }
    button:hover {
      background: rgba(99, 149, 184, 1);
    }
    button:focus {
      background: rgba(48, 72, 89, 1);
    }
    .btn-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .active {
      background: rgba(48, 72, 89, 1);
    }
    label {
      color: rgba(113, 145, 165, 1);
      font-size: 20px;
      font-weight: 700;
      line-height: 24.8px;
      text-align: left;
    }
    .num-players {
      width: 542px;
      height: 93px;
      top: 184px;
      left: 56px;
      gap: 0px;
      opacity: 0px;
      button {
        width: 22%;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .grid-size {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 542px;
      height: 93px;
      top: 184px;
      left: 56px;
      gap: 0px;
      opacity: 0px;
    }
    .start {
      cursor: pointer;
      background: rgba(253, 162, 20, 1);
      color: rgba(252, 252, 252, 1);
      border: none;
      border-radius: 50px;
      width: 542px;
      height: 93px;
      top: 184px;
      left: 56px;
      gap: 0px;
      opacity: 0px;
      font-size: 32px;
      font-weight: 700;
      line-height: 39.68px;
      text-align: center;
    }
    .start:hover {
      background: rgba(255, 184, 74, 1);
    }
  }
}

.gaming-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1150px;
  height: 100hv;
  .app-header {
    h2 {
      color: rgba(21, 41, 56, 1);
    }
    width: 100%;
    display: flex;
    justify-content: space-around;
    .btn {
      border-radius: 50px;
      border: none;
      width: 127px;
      height: 52px;
      gap: 0px;
      opacity: 0px;
    }
    .restart {
      background: rgba(253, 162, 20, 1);
      color: rgba(252, 252, 252, 1);
      font-weight: 700;
    }
    .btns {
      display: flex;
      justify-content: space-evenly;
      width: 25%;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .grid-item {
    width: 110px;
    height: 0;
    padding-top: 100%;
    background: rgba(48, 72, 89, 1);
    border-radius: 50%;
  }
}

.player-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  .player {
    border-radius: 20px;
    width: 255px;
    height: 72px;
    background: rgba(223, 231, 236, 1);
  }
  .active-player{
    background: rgba(253, 162, 20, 1);
    
  }
}
